body{
  margin: 0;
  background:red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  align-items: center;
  background: black;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
}






















.containerCap{
text-align: center;
}



.col {
 /* вирівнювання та медія  */
 display: flex;
flex-direction: column;
 
}


 .border{
  border-style: dashed;
}







